@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
}

body,
h1,
h2,
p,
ul {
  margin: 0;
  padding: 0;
}

/* Apply a background color and some styling to the header */
header {
  background-color: #fcfbfb;
  color: #070707;
  font-family: 'Nunito', sans-serif;
  font-weight: 1500;
  font-size: 200%;
  padding: 0;
  text-align: left;
  opacity: 1;
  /* display: flex; */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-left: 20px;
  margin-right: 50px;
}

main {
  text-align: center;
  /* margin: 20px; */
  background-color: #e1eedd;
}

.banner {
  height: 160px;
  position: relative;
  background: linear-gradient(to right, rgb(230, 7, 25), grey);
  /* background-color: rgb(230, 7, 25); */
  width: 100%; /* Banner with full width of the page */
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.sticky-banner {
  height: 120px;
  position: fixed;
}

.introduction {
  max-width: 300px;
  /* display: block; */
  margin-left: 30px;
  font-size: 1.85rem;
  text-align: center;
  font-weight: 400;
  line-height: 1.2;
  color: white;
}

.text {
  font-size: 0.64em;
  font-weight: 500;
  line-height: 1.2;
  color: white;
}

.text2 {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  color: white;
}

#fepasa_logo {
  margin: 0 auto;
  margin-top: -10px;
  position: relative;
  left: 10%;
  /* transform: translate(-40%, -60%); */

  align-content: center;
  max-width: 300px;
  height: auto;
}

#banner {
  margin-right: 20px;
  font-size: 0.9em;
  font-weight: 600;
  cursor: pointer;
}

#section_C {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

#menu::after {
  content: url('Images/dropdown_icon2.png');
  display: inline-block;
  transform: translateY(13px);
  margin-left: -4px;
  padding-right: 40px;
  padding-bottom: 20px;
}

#menuLangEN::after {
  content: url('Images/dropdown_icon2.png');
  /* transform: scale(0.2); */
  display: inline-block;
  transform: translateY(13px);
  margin-left: -4px;
  padding-right: 20px;
  align-items: top;
  padding-bottom: 20px;
}

#menuLangEN::before {
  content: url('Images/EN-US.jpg');
  /* transform: scale(0.5); */
  display: inline-block;
  transform: translateY(4px);
  margin-left: -4px;
  padding-right: 8px;
  align-items: top;
  padding-bottom: 20px;
}

#menuLangPT::after {
  content: url('Images/dropdown_icon2.png');
  /* transform: scale(0.2); */
  display: inline-block;
  transform: translateY(13px);
  margin-left: -4px;
  padding-right: 20px;
  align-items: top;
  padding-bottom: 20px;
}

#menuLangPT::before {
  content: url('Images/PT-BR.jpg');
  /* transform: scale(0.5); */
  display: inline-block;
  transform: translateY(4px);
  margin-left: -4px;
  padding-right: 8px;
  align-items: top;
  padding-bottom: 20px;
}

#menuLangFR::after {
  content: url('Images/dropdown_icon2.png');
  /* transform: scale(0.2); */
  display: inline-block;
  transform: translateY(13px);
  margin-left: -4px;
  padding-right: 20px;
  align-items: top;
  padding-bottom: 20px;
}

#menuLangFR::before {
  content: url('Images/FR-FR.jpg');
  /* transform: scale(0.5); */
  display: inline-block;
  transform: translateY(4px);
  margin-left: -4px;
  padding-right: 8px;
  align-items: top;
  padding-bottom: 20px;
}

#menuLangES::after {
  content: url('Images/dropdown_icon2.png');
  /* transform: scale(0.2); */
  display: inline-block;
  transform: translateY(13px);
  margin-left: -4px;
  padding-right: 20px;
  align-items: top;
  padding-bottom: 20px;
}

#menuLangES::before {
  content: url('Images/ES-ES.jpg');
  /* transform: scale(0.5); */
  display: inline-block;
  transform: translateY(4px);
  margin-left: -4px;
  padding-right: 8px;
  align-items: top;
  padding-bottom: 20px;
}

.window-menu {
  display: block; /*It might also be block */
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  /* box-shadow: 0 0 50px hsl(0, 0%, 100%); */
  position: absolute;
  top: 12.5%;
  right: 75px;

  /* top: 135px;
  width: 55%;
  height: 120px; */

  /* margin-left: 22.5%; */
  /* margin-right: 20%; */
  border-radius: 8px;
  background-color: white;
  opacity: 1;
}

.sticky-window-menu {
  position: fixed;
  top: 11%;
}

.window-menu ul {
  list-style-type: none; /* Remove bullet points */
  padding: 10px; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.window-menu li {
  display: block;
  margin: 10px;
}

.window-menu li a {
  display: block; /* Display list items as block elements */
  margin-bottom: 10px; /* Add spacing between menu items */
  color: rgb(230, 7, 25);
  font-size: 0.64em;
  font-weight: bold;
  text-decoration: none;
}

.lang-menu {
  display: block;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  /* box-shadow: 0 0 50px hsl(0, 0%, 100%); */
  position: absolute;
  top: 13%;
  right: 15px;
  width: 220px;

  /* top: 135px;
  width: 10%;
  height: 120px; */

  /* margin-left: 22.5%; */
  /* margin-right: 20%; */
  border-radius: 8px;
  background-color: white;
  opacity: 1;
}

.sticky-lang-menu {
  position: fixed;
  top: 11%;
}

.lang-menu ul {
  list-style-type: none; /* Remove bullet points */
  padding-left: 10px; /* Remove default padding */
  padding-top: 10px;
  margin: 0; /* Remove default margin */
}

.lang-menu li {
  display: block;
  margin-left: 5px;
  padding-right: -5px;
}

.lang-menu li a {
  display: block; /* Display list items as block elements */
  margin-bottom: 0; /* Add spacing between menu items */
  color: rgb(230, 7, 25);
  font-size: 0.64em;
  font-weight: bold;
  text-decoration: none;
}

.lang-EN::before {
  content: url('Images/EN-US.jpg');
  /* transform: scale(0.5); */
  display: inline-block;
  transform: translateY(4px);
  margin-left: -4px;
  padding-right: 8px;
  align-items: top;
  padding-bottom: 20px;
}

.lang-PT::before {
  content: url('Images/PT-BR.jpg');
  /* transform: scale(0.5); */
  display: inline-block;
  transform: translateY(4px);
  margin-left: -4px;
  padding-right: 8px;
  align-items: top;
  padding-bottom: 20px;
}
.lang-FR::before {
  content: url('Images/FR-FR.jpg');
  /* transform: scale(0.5); */
  display: inline-block;
  transform: translateY(4px);
  margin-left: -4px;
  padding-right: 8px;
  align-items: top;
  padding-bottom: 20px;
}
.lang-ES::before {
  content: url('Images/ES-ES.jpg');
  /* transform: scale(0.5); */
  display: inline-block;
  transform: translateY(4px);
  margin-left: -4px;
  padding-right: 8px;
  align-items: top;
  padding-bottom: 20px;
}
.langTitle {
  margin-right: 40px;
}

#results_page {
  padding-top: 10px;
  text-align: left;
  min-height: 120vh;
}

#results_title {
  display: inline-flex;
  margin-left: 20px;
}

#titles {
  margin-inline: 30px;
  font-weight: 300;
  font-size: 50%;
  font-weight: bold;
}

#train_details {
  display: inline-flex;
  margin-left: 20px;
  position: relative;
  z-index: 1;
}

#details {
  margin-inline: 30px;
  font-weight: 300;
  font-size: 100%;
  font-weight: bold;
}

#train_options__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
  border-radius: 10px;
  border-color: #fcfdfc;
  width: 900px;
  height: 64px;
  background-color: #fcfdfc;
  color: #333;
  font-weight: 300;
  font-size: 100%;
  font-weight: normal;
}

.train-info {
  display: flex;
  flex-direction: column;
  width: 130px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 20px;
  /* margin-right: 30px; */
  flex-basis: auto;
}

#train-info1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 100px;
  /* margin-right: 20px; */
  flex-basis: auto;
}

#train-info2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  margin-top: 5px;
  /* margin-left: 20px; */
  margin-right: 120px;
  flex-basis: auto;
}

#train-info3 {
  display: flex;
  flex-direction: column;
  width: 150px;
  margin-bottom: 5px;
  margin-top: 5px;
  /* margin-left: 30px; */
  margin-right: 30px;
  flex-basis: auto;
}

.title {
  margin-top: 5px;
  text-align: center;
  margin-inline: 3px;
  font-weight: 300;
  font-size: 60%;
  font-weight: bold;
}

.value {
  font-weight: 600;
  font-size: 110%;
  flex: 1;
  text-align: center;
}

.header-content {
  display: flex;
  align-items: center;
}

#simulator-container {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 135px;
  width: 55%;
  height: 110px;
  display: block;

  margin-left: 22.5%;
  border-radius: 12px;
  background-color: white;
  opacity: 1;
  z-index: 1;
}

#departureStationSelect {
  margin-left: 12px;
}

.frases {
  /* margin: 20px; */
  margin-left: 25px;
  font-weight: 600;
  font-size: 60%;
  padding-top: 15px;
  padding-left: 0;
}

.toFrom {
  padding: 0;
  padding-top: 0;
  margin: 10px;
  font-weight: bold;
  font-size: 80%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#to-sign {
  width: 40px;
  height: 40px;
  margin-top: 20px;
}

.to-from_icons {
  margin-top: 2px;
  margin-right: 5px;
  margin-left: 10px;
  width: 40px;
  height: 40px;
}

.inverter {
  margin: -10px;
  margin-right: 1px;
  margin-left: 1px;
  width: 35px;
  height: 35px;
  opacity: 1;
}

.hidden {
  display: none !important;
}

#originDestination {
  text-align: left;
  margin: 10px;
  margin-top: 10px;
  font-weight: 800;
  font-size: 100%;
  padding-top: 0;
  padding-left: 15px;
  display: inline-flex;
  color: rgb(230, 7, 25);
  width: 100%;
}

#origin {
  font-weight: 800;
  font-size: 120%;
  margin-right: 7px;
  margin-top: 4px;
}

#destination {
  font-weight: 800;
  font-size: 120%;
  margin-left: 8px;
  margin-top: 4px;
}

.train_options {
  margin: 20px;
  font-weight: 800;
  font-size: 150%;
}

.select {
  border-radius: 5px;
  border-color: grey;
  width: 240px;
  height: 45px;
  background-color: #fcfdfc;
  color: #333;
  font-weight: 300;
  font-size: 72%;
  font-weight: normal;
  /* text-align: right; */
}

/* Submit button*/
#submitButton {
  width: 160px;
  height: 45px;
  border-radius: 8px;
  color: white;
  background-color: rgb(230, 7, 25);
  font-size: 80%;
  font-weight: 450;
  cursor: pointer;
}

p1 {
  padding: 100px;
}

label {
  margin-top: 50px;
}

#slider {
  width: 1500;
  height: 720px;
  margin: 0 auto;
  position: sticky;
  transform: scale(1);
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transition: transform 2s, opacity 1.5s ease-in-out;
  opacity: 0.3;
}

.slide.active {
  opacity: 1;
}

.toggled {
  opacity: 0;
}

.slide > img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-top: -90px;
}

#section--1 {
  scroll-margin-top: 290px;
}

.section-title {
  color: rgb(230, 7, 25);
  font-size: 1.65em;
  font-weight: bold;
  text-decoration: none;
  margin: 30px;
  position: static;
}

.map-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.map-container > img {
  width: 80%;
  height: auto;
  border-radius: 12px;
}

#section--2 {
  background-color: white;
  padding-top: 1%;
  scroll-margin-top: 250px;
}

#site_texts {
  font-size: 1.5rem;
  text-align: justify;
  font-weight: 400;
  line-height: 1.2;
  color: black;
  margin: 25px;
}

footer {
  width: 100%;
  height: 100px;
  padding: 25px;
  background-color: #333;
  color: #fff;
  text-align: center;
}

.black_arrow {
  display: none;
}

#email {
  color: yellowgreen;
  text-decoration: underline;
}
